<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node.js" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="app.js/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>